@import "tailwindcss";

/* Reset margin & padding */
body {
  background-color: rgba(228, 218, 218, 0.399);

}

/* Ensure full viewport width */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

/* Prevent desktop scaling */
@media (min-width: 768px) {
  body {
    background-color: rgba(228, 218, 218, 0.399);
    max-width: 375px;
    margin: auto;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');